openAIKey = ""

[integration_samples.gmail_to_salesforce_lead.gmailOAuth2Config]
refreshToken = ""
clientId = ""
clientSecret = ""

[integration_samples.gmail_to_salesforce_lead.salesforceOAuth2Config]
baseUrl = ""
clientId = ""
clientSecret = ""
refreshToken = ""
refreshUrl = ""
